<h1>Log-In</h1>
<%= form_for @user, :html => {:class => "form-horizontal"}, :url => { :action => "create", :controller => "sessions"} do |f| %>
  <%= f.label :email, "Email:" %>
  <%= f.text_field :email %>
  <br>
  <%= f.label :password, "Password:" %>
  <%= f.password_field :password %>
  <br>
  <br>
  <%= f.submit "Log-in", :class => "btn btn-primary" %>
<% end %>
<%= link_to "Create a new account", new_user_path %>