<h3> Hello, <%= current_user.name %>!</h3>
<div class="row-fluid">
  <div class="span12">
    <%= form_for @post, :html => {:class => "form-inline input-append"}, :url => { :action => "create", :controller => "posts"} do |f| %>
      <%= f.label :text, "What's on your mind?" %>
      <br>
      <%= f.text_area :text, :rows => 1 %>
      <%= f.submit "Let it go...", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>
<% @user.recent_posts_first.each do |post| %>
  <div class="row-fluid">
    <div class="span12">
      <br>
      ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~ * ~
      <br><br>
      <%= post.text %>
    </div>
  </div>
<% end %>